<!DOCTYPE HTML>

{% extends "base.html" %}

<html>
	{% block content %}	


    {% if listSubject.count == 0%}
    <div id="fh5co-work" class="fh5co-bg-dark">
		<div id="fh5co-blog">
		    <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section2">No subject added</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
	<div id="fh5co-work" class="fh5co-bg-dark">
		<div id="fh5co-blog">
		    <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section2">Subject list</h2>
                    </div>
                    <table class="table">
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Credits</th>
                        <th>Lecturer</th>
                        <th>Room</th>
                        <th>Year</th>
                        <th>Remove</th>
                    </tr>

                    {% for subject in listSubject %}
                    <tr>
                        <td> {{subject.subject_name}} </td>
                        <td> {{subject.description}} </td>
                        <td> {{subject.credits_amount}} </td>
                        <td> {{subject.lecturer}} </td>
                        <td> {{subject.room}} </td>
                        <td> {{subject.year}} </td>
                        <td>
                            <a href = "{% url 'myspace:delete' delete_id=subject.pk %}">
                            <button class="btn btn-icon btn-danger"></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                    <br></br>
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <a href = "{% url 'myspace:addSubject' %}">
                        <input type="submit" value="ADD MORE SUBJECT" class="btn btn-success">
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>

    {% endif %}

	{% endblock %}
</html>

