<!DOCTYPE HTML>

{% extends "base.html" %}
		

	{% block content %}
	<div class="fh5co-loader"></div>	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(static/bg.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(static/ayuka.jpg);"></div>
							<h1 id><span id="h1-white">Hi! I am Ayuka Sonohata</span></h1>
							<h3 id="h3-up"><span id="h3-up">Information System Student at University of Indonesia</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h1 id="h2-section">My Profile</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Name:</span><span class="second-block">Ayuka Sonohata</span></li>
						<li><span class="first-block">Student ID:</span><span class="second-block">1906298802</span></li>
						<li><span class="first-block">Year:</span><span class="second-block">2019</span></li>
						<li><span class="first-block">Hobby:</span><span class="second-block">Watching film or series, Singing</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">sonohataayuka@gmail.com</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>About Me</h2>
					<p>I am a student at University of Indonesia, majoring in Information System. I am extremely motivated to get new experiences to constantly develop my skills and grow professionally.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="h2-section">My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Universitas Indonesia</h3>
									<span class="company">2019 - Current</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SMA Negeri 5 Bogor</h3>
									<span class="company">2016-2019</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SMP Negeri 4 Bogor</h3>
									<span class="company">2013-2016</span>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Organizations</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">BEM Fasilkom UI</h3>
									<span class="company">Staff of Culture and Arts Department | 2020 - Current</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">OSIS SMA</h3>
									<span class="company">Staff | 2016 - 2018 </span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-microphone"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Lima Vocal Club</h3>
									<span class="company">Club President | 2017 - 2018</span>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Teaching Assistant of Calculus 1 2020/2021</h3>
									<span class="company">Faculty of Computer Science, University of Indonesia</span>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Committees</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SYNTAX Gathering CSUI 2019</h3>
									<span class="company">PIC of Public Relations</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Open House Fasilkom UI 2019</h3>
									<span class="company">Staff of Public Relations</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Social Project CSUI 2019</h3>
									<span class="company">PIC of Event</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Gelar Karya 2019</h3>
									<span class="company">PIC of Public Relations</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">TWISTER UI 2020</h3>
									<span class="company">Staff of Event</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Wisuda Ganjil Fasilkom UI 2020</h3>
									<span class="company">Staff OF Liaison Officer</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">COMPFEST 12 2020</h3>
									<span class="company">Staff of Direct Marketing</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">OKK UI 2020</h3>
									<span class="company">Mentor</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">PMB Fasilkom UI 2020</h3>
									<span class="company">Mentor</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">PERAK 2020</h3>
									<span class="company">Staff of Public Relations</span>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="h2-section">Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>Public Speaking</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>Teamwork</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Commitment</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Marketing</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Leadership</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Creativity</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Communication</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Adaptibility</strong>90%</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="h2-section">Personality</h2>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3>ESFJ-A (Consule)</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Extrovert</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Visioner</span><span class="value-right">38%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width:38%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Rational</span><span class="value-right">44%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width:44%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Planning</span><span class="value-right">58%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width:58%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Introvert</span><span class="value-right">10%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Realistic</span><span class="value-right">62%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width:62%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Emotional</span><span class="value-right">56%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width:56%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Improvisation</span><span class="value-right">42%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
</html>

